html, body {
	max-width: 100%;
	overflow-x: hidden; 
}

body {
	background: #FF5F6D; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #FF5F6D , #FFC371); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #FF5F6D , #FFC371); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */      
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

.row-move {
	margin-top: 200px;
	-webkit-transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
    -o-transition: all 0.75s ease-in-out;
	transition: all 0.75s ease-in-out;
}

.row-move p {
	font-weight: 500;
	font-size: 18px;
	color: #fff;
}

.row-move p .span-or {
	font-weight: 900;
}

.row-move.move {
	margin-top: 30px;
}

.input-holder {
	position: relative;
	top: -15px;
	margin-left: 50%;
	margin-right: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	border-radius: 50px;
	background: rgba(0, 0, 0, 0.5);
	width: 70px;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	z-index: 2;
}

.search-wrapper.active .input-holder {
	width: 100%;
	top: -5px;
	-webkit-transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    -moz-transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    -o-transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
	transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}


.search-field {
	height: 70px;
	width: 70px;
	padding: 0 50px 0 20px;
	font-size: 16px;
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background: transparent;
	border: none;
	border-radius: 50px;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	z-index: 3;
}

.search-field:focus {
	-webkit-box-shadow: none;
	box-shadow: none
}

.search-wrapper.active .search-field {
	height: 50px;
	width: 100%;
	padding: 0 70px 0 20px;
	color: rgba(255, 255, 255, 0.75);
}

.btn-search {
	color: #FFA000;
	position: relative;
	top: -70px;
	float: right;
	z-index: 2;
	width: 70px;
	height: 70px;
	border: none;
	border-radius: 6px;
	font-size: 20px;
	background: #fff;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.btn-search.active.focus, .btn-search.active:focus, .btn-search.focus, .btn-search:active.focus,
.btn-search:active:focus, .btn-search:focus {
	outline: 0;
}

.btn-search:hover, .btn-search.active:hover, .btn-search:active:hover, .open>.dropdown-toggle.btn-search:hover, 
.btn-search.active.focus, .btn-search.active:focus, .btn-search:active.focus, .btn-search:active:focus,
.open>.dropdown-toggle.btn-search.focus, .open>.dropdown-toggle.btn-search:focus, .btn-search.active, .btn-search:active, 
.open>.dropdown-toggle.btn-search, .btn-search.active.focus, .btn-search.active:focus, .btn-search.focus, 
.btn-search:active.focus, .btn-search:active:focus, .btn-search:focus {
    color: #FFA000;
    background-color: #ffffff;
}

.search-wrapper.active .input-holder .btn-search {
	width: 40px;
	height: 40px;
	top: -45px;
	right: 5px;
	border-radius: 30px;
}

.search-wrapper .input-holder .btn-search.disabled, .search-wrapper .input-holder .btn-search[disabled] {
	opacity: 1;
}

.search-wrapper .input-holder .btn-search .fa.fa-search {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
    -moz-transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
    -o-transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
	transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);*/
}

.search-wrapper.active .input-holder .btn-search .fa.fa-search {
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

.btn-cancel {
	opacity: 0;
	width: 40px;
	height: 40px;
	border: none;
	border-radius: 30px;
	font-size: 20px;
	background: #fff;
	position: absolute;
	left: 50%;
	top: 0px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	color: #F06292;
	-webkit-transition: all .6s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    -moz-transition: all .6s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    -o-transition: all .6s cubic-bezier(0.285, -0.450, 0.935, 0.110);
	transition: all .6s cubic-bezier(0.285, -0.450, 0.935, 0.110);
	z-index: 1;
}

.btn-cancel.active.focus, .btn-cancel.active:focus, .btn-cancel.focus, .btn-cancel:active.focus,
.btn-cancel:active:focus, .btn-cancel:focus {
	outline: 0;
}

.btn-cancel:hover, .btn-cancel.active:hover, .btn-cancel:active:hover, .open>.dropdown-toggle.btn-cancel:hover, 
.btn-cancel.active.focus, .btn-cancel.active:focus, .btn-cancel:active.focus, .btn-cancel:active:focus,
.open>.dropdown-toggle.btn-cancel.focus, .open>.dropdown-toggle.btn-cancel:focus, .btn-cancel.active, .btn-cancel:active, 
.open>.dropdown-toggle.btn-cancel, .btn-cancel.active.focus, .btn-cancel.active:focus, .btn-cancel.focus, 
.btn-cancel:active.focus, .btn-cancel:active:focus, .btn-cancel:focus {
    color: #F06292;;
    background-color: #ffffff;
}

.search-wrapper.active .btn-cancel {
	opacity: 1;
	top: 0px;
	left: 105%;
	-webkit-transition: all .7s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    -moz-transition: all .7s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    -o-transition: all .7s cubic-bezier(0.000, 0.105, 0.035, 1.570);
	transition: all .7s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}
@media (min-width: 768px) {
	.search-wrapper.active .btn-cancel {
		left: 103%;
	}
}
@media (min-width: 992px) {
	.search-wrapper.active .btn-cancel {
		left: 102.5%;
	}
}
@media (min-width: 1200px) {
	.search-wrapper.active .btn-cancel {
		left: 102%;
	}
}

.btn-random {
	opacity: 0;
	width: 40px;
	height: 40px;
	border: none;
	border-radius: 30px;
	font-size: 18px;
	background: #fff;
	position: absolute;
	left: 50%;
	top: 0px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	color: #7B1FA2;
	-webkit-transition: all .6s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    -moz-transition: all .6s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    -o-transition: all .6s cubic-bezier(0.285, -0.450, 0.935, 0.110);
	transition: all .6s cubic-bezier(0.285, -0.450, 0.935, 0.110);
	z-index: 1;
}

.btn-random.active.focus, .btn-random.active:focus, .btn-random.focus, .btn-random:active.focus,
.btn-random:active:focus, .btn-random:focus {
	outline: 0;
}

.btn-random:hover, .btn-random.active:hover, .btn-random:active:hover, .open>.dropdown-toggle.btn-random:hover, 
.btn-random.active.focus, .btn-random.active:focus, .btn-random:active.focus, .btn-random:active:focus,
.open>.dropdown-toggle.btn-random.focus, .open>.dropdown-toggle.btn-random:focus, .btn-random.active, .btn-random:active, 
.open>.dropdown-toggle.btn-random, .btn-random.active.focus, .btn-random.active:focus, .btn-random.focus, 
.btn-random:active.focus, .btn-random:active:focus, .btn-random:focus {
    color: #7B1FA2;;
    background-color: #ffffff;
}

.search-wrapper.active .btn-random {
	opacity: 1;
	top: 0px;
	left: -5%;
	-webkit-transition: all .7s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    -moz-transition: all .7s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    -o-transition: all .7s cubic-bezier(0.000, 0.105, 0.035, 1.570);
	transition: all .7s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}
@media (min-width: 768px) {
	.search-wrapper.active .btn-random {
		left: -3%;
	}
}
@media (min-width: 992px) {
	.search-wrapper.active .btn-random {
		left: -2.5%;
	}
}
@media (min-width: 1200px) {
	.search-wrapper.active .btn-random {
		left: -2%;
	}
}

.row-error {
	display: none;
}
.row-error.show {
	display: block;
}

.row-error p {
	font-size: 20px;
	color: #fff;
}

.panel-search {
	position: relative;
	border: 0;
	border-radius: 0;
}

.panel-search > .panel-heading {
	background: #fff;
}

.panel-heading {
	padding: 15px 30px 30px;
}

.panel-title {
	font-size: 24px;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 600;
}

.panel-desc {
	margin: 10px 0 0;
}

.panel-color {
	position: absolute;
	background: #9C27B0;
	height: 100%;
	width: 10px;
	top: 0;
	left: 0;
}

.panel-body {
	padding: 0px;
}

.panel-body .link-wrapper {
	margin-bottom: 0;
	margin-left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	display: inline-block;

	/* overflow hidden to contain overflowing ripple,
	   vertical-align top to remove extra margin from inline-block display */
	overflow: hidden;
	vertical-align: top;
}

.panel-body .link-block {
	/* if static positioned, link will appear behind absolute-positioned 
	   ink. hence link is relative positioned to move it forward */
	position: relative;
	font-size: 16px;
	color: #9C27B0;
	padding: 15px;
	display: block;
}
/*@media (max-width: 450px) {
	.panel-body .link-block {
		padding: 10px;
	}
}*/

.panel-body .link-block:focus, .panel-body .link-block:hover {
	color: #9C27B0;
	text-decoration: none;
}

.ink {
	display: block;
	position: absolute;
	background: #CE93D8;
	border-radius: 100%;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.ink.animate {
	-webkit-animation: ripple 0.65s linear;
	animation: ripple 0.65s linear;
}

@-webkit-keyframes ripple {
	100% {
		/* as ripple increases in size, its opacity goes to 0 */
		opacity: 0; 
		-webkit-transform: scale(2.5);
		-ms-transform: scale(2.5);
		transform: scale(2.5);
	}
}
@keyframes ripple {
	100% {
		/* as ripple increases in size, its opacity goes to 0 */
		opacity: 0; 
		-webkit-transform: scale(2.5);
		-ms-transform: scale(2.5);
		transform: scale(2.5);
	}
}